
body {
    background-color: #5f4820;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color:#3e2c1c;
}
nav a {
    display: inline-block;
    background-color: white;
    color: rgb(109, 88, 61);
    margin-right: 0.3rem;
    padding: 0.5rem ;
    text-decoration: none;
    font-size: 1em;
}
nav a:hover {
    background-color: #74553d; /* Burnt Orange */
    color: white;
}
/* logo styling*/
.headerpic{
    height: 4.5rem;
    width: auto;
    color: white;
}

/* Carousel styling*/
.d-block{
    width: 400px;
    height: 600px;
}
/* park styling*/
.park{
    text-align: center;
}

pre{
    text-align: left;
    width: fit-content;
    margin: auto;
    min-width: 600px;
}

#results div {
    text-align: left;
    
}


/* inserted videos styling for home page*/
.video-container{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.background-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* writing on top of the background video styling*/
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    font-size: large;
}
.overlay h1{
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
}
.overlay button{
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.6 );
    color: rgb(251, 244, 244);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.overlay button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
/* search form styling*/
form{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 30px;
}
input[type="search"]{
    padding: 1px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px;
}
button{
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: rgb(51, 27, 27);
    color: white;
    border-radius: 4px;
}
/* social media icon styling @footer*/
.footer{
    background-color: #4d3712;
    color: whitesmoke;
    padding: 20px;
    text-align: right;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: right;
}
.footer-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.fa {
    padding: 8px;
    font-size: 20px;
    width: 40px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .rights{
    text-align: center;
    background-color: #ffffff;
    color: #33250a;
  }